<!DOCTYPE HTML>
<html>
<head>
<title>Супер мото</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

<link href="css/theme-style.css" rel='stylesheet' type='text/css' />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/myjs.js"></script>
</head>
<body>
		<!--start-container-->
			<!--start-header-->
		<div id="home" class="header scroll">
			<div class="container">
				<!--start-top-nav-->
				 <nav class="top-nav">
					<ul class="top-nav">
						<li class="active m1"><a href="#">Головна</a></li>
						<li class="page-scroll m2"><a href="#">Мотоцикли</a></li>
						<li class="page-scroll m3"><a href="#">Розпродаж</a></li>
						<li class="page-scroll m4"><a href="#">Форум</a></li>
						<li class="page-scroll m5"><a href="#">Контакти</a></li>			
					</ul>
					
						<a href="#" id="pull"><img src="/images/nav-icon.png" title="menu" /></a>
				</nav>
				<div class="clearfix"> </div>
				<div class="slide-text text-center">
					<h1>MotoRent</h1>
					<span>Ласкаво просимо на сайт компанії!</span>
					<a class="slide-btn" href="#">Дізнатися більше
					</a>
					<span>Прокат мотоциклів</span>				
				</div>
				<!--//End-top-nav-->
			</div>
		</div>
		<!--//End-header-->
		<!--start-feartures-->
		<div id="fea" class="features">
			<div class="container">
				<div class="head text-center">
						<button class="btn-fs plus-font-size">+</button>
						<button class="btn-fs minus-font-size">-</button>
						<button class="btn-fs normal-font-size">r</button>
					<h3><span> </span>Мотоцикл</h3>
					<p id="about-moto"> Це двоколісний механічний транспортний засіб з боковим причепом або без нього, що відрізняється вертикальною посадкою водія та прямим управлінням переднім рульовим колесом. До мотоциклів прирівнюються класичні двуколісні мотоцикли, моторолери, триколісні, чотириколісні (квадроцикли), снігоходи та інші механічні транспортні засоби, дозволена максимальна маса яких не перевищує 400 кг.</p>
				</div>
				<!-- start-features-grids-->
				<div class="features-grids text-center">
					<div class="col-md-3 features-grid">
						<img title="" nomer="1" price="400000" class="head-moto-img" id="img_1" src="images/moto4.jpg" alt="Мотоцикл 1" />
						<h3><a href="#">Харлей<br> Девідсон</a></h3>
						<p>Тут может бути додатковий текст для опису</p>
					</div>
					<div class="col-md-3 features-grid">
						<img title="" nomer="2" price="200000" class="head-moto-img"  id="img_2" src="static/images/moto2.jpg" alt="Мотоцикл 2" />
						<h3><a href="#">Кросовий мотоцикл</a></h3>
						<p>Тут может бути додатковий текст для опису</p>
					</div>
					<div class="col-md-3 features-grid">
						<img title="" nomer="3" price="300000" class="head-moto-img"  id="img_3" src="static/images/moto3.jpg" alt="Мотоцикл 3" />
						<h3><a href="#">Гоночний мотоцикл</a></h3>
						<p>Тут может бути додатковий текст для опису</p>
					</div>
					<div class="col-md-3 features-grid">
						<img title="" nomer="4" price="600000" class="head-moto-img"  id="img_4" src="static/images/moto1.jpg" alt="Мотоцикл 4" />
						<h3><a href="#">Концептуальний мотоцикл</a></h3>
						<p>Тут может бути додатковий текст для опису</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- //End-features-grids-->
			</div>
		</div>		
		<!--//End-feartures-->
		<!-- start-work-->
		<div class="work">
			<div class="container">
				<div class="head text-center work-head" >
					<h3><span> </span> Розрахунок вартості прокату мотоциклів:</h3>
				</div>				
				<!-- form -->
				<div class="col-md-12">
					<form id="my_form" >
						<div id="bigform">
							<fieldset>
								<!-- right-form -->
								<div id="div_form_1">
									<fieldset id="innerfieldset">
										<legend>Додаткові опції	</legend>
										<p><strong>Чи потрібні аксесуари?</strong></p>
										<div id="format">
											<input type="checkbox" value="sh" name="dop_oprions" id="shlem" />
											<label for="shlem">Шолом</label>
											<input type="checkbox" value="bag" name="dop_oprions" id="bag" />
											<label for="bag">Багажник</label>
											<input type="checkbox" value="od" name="dop_oprions" id="od" />
											<label for="od">Мото-одяг</label>
										</div>
										<br>
										<p><strong>Чи потрібна страховка?</strong></p>
										<div id="radio">
											<input type="radio" id="inch_yes" value="yes" name="inch" />
											<label for="inch">Так</label>
											<input type="radio" id="inch_no" value="no" name="inch" />
											<label for="inch">Ні</label>
										</div>
									</fieldset>
									<input type="submit" value="Відправити запит" id="my_button" />
								</div>
								<!-- left-form --> 
								<div id="div_form_2">
									<span>Модель:</span>
									<select name="moto" size="1" id="motoSelect">
										<option value="1">Харлей Девідсон (100$ в день)</option>
										<option value="2">Кросовий мотоцикл (40$ в день)</option>
										<option value="3">Гоночний мотоцикл (150$ в день)</option>
										<option value="4">Концептуальний мотоцикл (340$ в день)</option>
									</select>
									<span>Днів:</span>
									<select name="days" size="1" id="daysSelect">
										<option value="1">1</option>
										<option value="2">2</option>
									</select>
									<br><br>
									<p><strong>Вкажіть Ваш email:</strong></p>
									<input type="text" id="email" value="Приклад: you@site.ua" /> 
									<br><br>
									<p><strong>Ваші побажання:</strong></p>
									<textarea cols="45" rows="2" id="mytextarea"></textarea>
								</div>
							</fieldset>
						</div>
					</form>
				</div>
				<!-- end-form -->
			</div>
		</div>
		
		<!--start-blog-->
		<div id="blog" class="blog">
			<div class="container">
				<div class="head text-center">
					<h3><span> </span> Мотоцикли на продаж (б / у)</h3>
				</div>
			</div>
			<!-- start-blog-time-line-->
			<div class="blog-time-line">
				<div class="col-md-6 blog-time-line-left">
				</div>
				<div class="col-md-6 blog-time-line-right">
					<div class="blog-post">
						<div class="col-md-2 blog-post-date">
							<span><label>1</label></span>
						</div>
						<div class="col-md-10 blog-post-info">
							<span class="categorie">Вартіть : <a href="#">19000$</a></span>
							<h4 class="post-head"><a href="#">Honda DN-01</a></h4>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
					<div class="blog-post">
						<div class="col-md-2 blog-post-date">
							<span><label>2</label></span>
						</div>
						<div class="col-md-10 blog-post-info">
							<span class="categorie">Вартіть : <a href="#">14000$</a></span>
							<h4 class="post-head"><a href="#">Yamaha XJR 1200 </a></h4>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
					<div class="blog-post">
						<div class="col-md-2 blog-post-date">
							<span><label>3</label></span>
						</div>
						<div class="col-md-10 blog-post-info">
							<span class="categorie">Вартіть : <a href="#">16200$</a></span>
							<h4 class="post-head"><a href="#"> Aprilia NA 850GT Mana 2009 </a></h4>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
					<div class="blog-post">
						<div class="col-md-2 blog-post-date">
							<span><label>4</label></span>
						</div>
						<div class="col-md-10 blog-post-info">
							<span class="categorie">Вартіть : <a href="#">29600$</a></span>
							<h4 class="post-head"><a href="#">Harley-Davidson FLSTF FAT BOY 2007</a></h4>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //End-blog-time-line-->
		</div>
		<!--//End-blog-->
		<!--start-test-monials-->
		<div  id="test" class="testmonials">
			<div class="container">
				<div class="head text-center">
						<h3><span> </span> Посилання на сайти виробників і специфікації мотоциклів</h3>
				</div>
			<!--start-link-->
			<div class="test-monial-time-line">
				<div class="col-md-6 test-monial-time-line-left">
					<div class="test-monial-time-line-grid test-monial-time-line-grid-l1">
						<div class="col-md-8 test-monial-time-line-left-text">
						</div>
						<div class="col-md-4 test-monial-time-line-left-pic">
							<img src="images/honda-logo.png" title="name" />
							<a class="link-moto" target="blank" href="https://honda.ua/">Хонда Україна</a>
						</div>
						<span class="grid-point"> </span>
					</div>
				</div>
				<div class="col-md-6 test-monial-time-line-right">
					<div class="test-monial-time-line-grid test-monial-time-line-grid-r1">
						<div class="col-md-4 test-monial-time-line-left-pic">
							<img src="images/logo-harley-davidson.jpg" title="name" />
							<a class="link-moto" target="blank" href="https://www.harley-davidson.com/us/en/index.html">Harley-Davidson USA</a>
						</div>
						<div class="col-md-9 test-monial-time-line-left-text">
						</div>
						<span class="grid-point grid-point1"> </span>
					</div>
					<div class="test-monial-time-line-grid test-monial-time-line-grid-r2">
						<div class="col-md-3 test-monial-time-line-left-pic">
							<img src="images/yamaha-logo.jpg" title="name" />
							<a class="link-moto" target="blank" href="https://www.yamaha.com/">Yamaha Corporation</a>
						</div>
						<div class="col-md-9 test-monial-time-line-left-text">
						</div>
						<span class="grid-point grid-point1"> </span>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="test-monial-timeline-connector">
					<span> </span>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
		<div class="clearfix"> </div>
			<!--//End-link-->
			
		<!--start-footer-->
		<div class="footer">
			<div class="container">
				<div class="footer-left">
					<img src="images/footer.jpg" title="" />
				</div>				
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
			</div>
		</div>
		<!--//End-footer-->
		<!--//End-container-->
	</body>
</html>

